
/* MAIN TITLE */
.title-container {
    width: 100%;
    height: 140px;
    display: flex;
    background-color: var(--blue);
}


.main-title {
    font-size: 42px;
    color: var(--white);
    margin: auto;
    font-weight: 350;
}

/*   ******   */




#content {
    background-color: var(--red);
    min-height: 90%;
}



.content-container {
    width: 100%;
    padding: 40px 80px 40px 80px;
    background-color: var(--red);
}


/* NAVIGATION */

.content-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.content-nav div {
    height: 40px;
    width: 40px;
}

.content-nav .status {
    width: calc(100% - 40px);
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.status > p {
    margin: auto;
    color: var(--blue);
}

.status:p  {
    opacity: 0.8;
}


.status-selected {
    position: relative;
    width: 100%!important;
    border-radius: 40px;
    display: flex;
}


.status-selected p {
    margin: auto;
}


.status-btn {
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 38px!important;
    transform: rotate(270deg);
}


.status-btn i {
    margin: auto;
    font-size: 20px;
    color: var(--blue);
}


.status .options-container {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: none;    
}


.status .options-container div:hover {
    background-color: var(--blue);
    color: white;
}

.options-container div {
    width: 100%;
    text-align: center;
    color: var(--blue);
    display: flex;
    background-color: var(--white);
}



.options-container div > p {
    margin: auto;

}


.content-nav .category {
    background-color: var(--blue);
    border-radius: 40px;
}



/* ********* */

/* MEMBERS CONTAINER */

/*    ********    */

.members-tag {
    width: 100%;
    padding-top: 80px;
    opacity: 0;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10000; 
    display: flex;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


.loading-screen .loading-bar {
    border-radius: 20px;
    margin: auto;
    width: 70%;
    height: 30%;
    z-index: 90000;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
}

.loading-screen h2 {
    margin-bottom: 20px;
    color: white;
}

.loading-line {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px black;
    border: none;
}

.inner-line {
    height: 100%;
    width: 0%;
    transition: all 0.8s;
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
}


/* main */
.members-container {
    min-height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    margin-left: -20px;
    margin-right: -20px;
}


.member {
    width: 25%;
    padding: 20px 30px;
    position: relative;
}

.member:hover .member-overlay {
    display: block;
    animation: overlayHover 0.3s ease-in-out;
    transition: all 0.8s;
}


.member-avt {
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 100%;
}


.member-avt img {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}




.member-overlay {
    display: none;
    position: absolute;
    background-color: var(--blue);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: rotate(180deg);
    opacity: 0.8;
}



.menber-info {
    padding: 20px 0;
}


.name {
    margin-bottom: 20px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
}

.role {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}


.member-slogan {
    margin-top: 12px;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    padding: 0;
}


.member:hover .member-slogan {
    display: block;
    animation: memberHover 0.4s ease-in-out;
    transition: all 0.4s;
    width: 100%;
    z-index: 100;
    padding: 0 10px;
}


.member-slogan div {
    text-align: center;
    margin-bottom: 12px;
    color: var(--white);
    font-size: 20px;
}

.member-slogan p {
    text-align: center;
    color: var(--white);
    margin-bottom: 6px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
}


.member-slogan i {
    font-size: 14px;
}


.team-des {
    margin: auto;
    display: block;
}


#Former, #Media, #Ctfer {
    display: none;
}

#Former.active, #Media.active, #Ctfer.active {
    display: flex;
}


/*    **********    */



.content-nav-container {
    height: 40px;
    width: 100%;
    display: flex;
    position: relative;
}


.content-nav-container > div {
    height: 100%;
    background-color: var(--blue);
    border-radius: 40px;
    transition: 0.3s;
}


.content-nav-container .status-container, .members-type-container {
    display: flex;
    position: relative;
    width: 100%;
}



.members-type-container {
    display: none;
    transition: all 0.8s;
}


.content-nav-container .members-type-container {
    position: absolute;
    top: 50px;
    left: 0;
    height: 40px;
    background-color: var(--white);
    width: 100%;
    border-radius: 0px;
    border-radius: 20px;

}


li > p {
    font-weight: 600;
}

.members-type-container > div {
    border-radius: 20px;
    color: var(--blue)!important;
}

.content-nav-container .status-container > div, .members-type-container > div {
    width: 50%;
    padding: 10px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
}

.content-nav-container .content-nav-overlay, .members-tab-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, .4);
    transition: all 0.8s;

}

.members-tab-overlay {
    background-color: rgba(70, 2, 255, 0.4);
    border-radius: 0px;
    border: 4px solid white;
}

.content-nav-container .category-container {
    width: 0%;
    border-radius: 40px;
    position: relative;
}

.category-container ul {
    width: 100%;
    transform: translateY(2px);
    background-color: var(--blue);
    list-style: none;
    transition: all 0.8s;
    border-radius: 20px;
    display: none;
    z-index: 100;
    overflow: hidden;
    position: absolute;
}

.category-container ul li:hover {
    background-color: #ccc;
    border-radius: 20px;
}

.category-container ul li:hover p {
    color: var(--blue);
}


.category-container ul li {
    height: 40px;
    width: 100%;
    color: var(--white);
    display: flex;
}



.category-container ul li p {
    margin: auto;
    color: var(--white);
    transition: all 0.8s;
}


.category-btn  {
    width: 40px;
    height: 40px;
    right: 0;
}

.selected {
    position: relative;
    transition: all 0.8s;
    cursor: pointer;
}


.selected {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.selected p {
    margin: auto;
    color: white;
}


.selected i {
    color: white;
    display: flex;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: all 0.8s;
}


.selected i::before {
    margin: auto;
}



.show-options div {
    color: var(--white);
    cursor: pointer;
}

.show-options div + div {
    margin-top: 10px;
}

